<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>

    <div class="container Post-Container">
        <h1 class="title" style="font-size: 400%;">My Blog</h1>
        {% if 'admin' in session %}
        <a href="{{ url_for('new_post') }}">New Post</a>
        <a href="{{ url_for('logout') }}" id="logoutButton" onclick="logoutUser()">Logout</a>
        {% else %}
        <a href="{{ url_for('login') }}" id="loginButton">Login</a>
        {% endif %}
        <hr>
        {% for post in posts %}
        <a href="{{ url_for('view_post', post_id=post[0]) }}" class="post-button">
            <div class="post">
                <h1 class="Heding">{{ post[1] }}</h1>

                <p class="text">{{ post[2] }}</p>

                {% if post[3] %} <!-- Check if an image exists -->
                <img src="{{ url_for('static', filename='uploads/' + post[3].split('/')[-1]) }}" alt="Post Image" class="image">
                <br>

                {% endif %}
                <small>Posted on {{ post[4] }}</small>
                <br>

                {% if 'admin' in session %}
                <a href="{{ url_for('delete_post', post_id=post[0]) }}">Delete</a>
                {% endif %}

            </div>
        </a>

        <hr>

        {% endfor %}

    </div>
</body>


</html>