<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Blog Summary</h2>
        <ul>
            {% for summary in summaries %}
                <li>{{ summary[0] }}: {{ summary[1] }} posts</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
