name: Python Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest

    env:
      ADMIN_USERNAME: ${{ secrets.ADMIN_USERNAME }}
      ADMIN_PASSWORD: ${{ secrets.ADMIN_PASSWORD }}
      SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
      SUPERBASE_SERVICE_ROLE_KEY: ${{ secrets.SUPERBASE_SERVICE_ROLE_KEY }}
      SUPABASE_ANON_KEY: ${{ secrets.SUPERBASE_ANON_KEY }}
      SUPERBASE_IMAGES_BUCKET_NAME: ${{ secrets.SUPERBASE_IMAGES_BUCKET_NAME }}
      SUPERBASE_VIDEOS_BUCKET_NAME: ${{ secrets.SUPERBASE_VIDEOS_BUCKET_NAME }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          pip install uv
          uv sync

      - name: Install Playwright browsers
        run: |
          uv run playwright install --with-deps chromium

      - name: Run linter
        run: uv run lint

      - name: Run pytest
        run: uv run pytest -v --maxfail=3 --disable-warnings
